<div class="bg-white rounded-lg shadow-lg p-6">
    <h2 class="text-3xl font-bold text-center text-gray-800 bg-orange-100 py-3 border-t-4 border-l-4 border-r-4 border-orange-500 rounded-t-lg">
        {{ section_title }}
    </h2>
    <div class="overflow-x-auto border-l-4 border-r-4 border-orange-500 rounded-b-lg">
        <table class="w-full border-collapse">
            <thead>
                <tr class="bg-gray-100 text-gray-600">
                    <th class="p-3 text-left text-sm font-semibold">#</th>
                    <th class="p-3 text-left text-sm font-semibold">Category Name</th>
                    <th class="p-3 text-left text-sm font-semibold">Description</th>
                    <th class="p-3 text-center text-sm font-semibold">Remove</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                    <tr class="border-b hover:bg-gray-50 transition duration-200">
                        <td class="p-3 text-sm text-gray-700">{{ forloop.counter }}</td>
                        <td ><a href="{% url 'update-category' category.id %}" class="p-3 text-sm text-gray-700">{{ category.name }}</a></td>
                        <td class="p-3 text-sm text-gray-700">{{ category.description|slice:":50" }}...</td>
                        <td class="p-3 text-center text-sm text-gray-700">
                            <form action="{% url 'delete-category' category.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="text-red-500 hover:text-red-700">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
