<section>
    <h2 class="text-2xl text-center font-bold py-5 underline"> {{section_title}} </h2>
    <div class="grid gap-5 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1">
        {% for event in events %}
            {% comment %} event {% endcomment %}
            <div class="bg-blue-100 shadow-sm rounded-md p-5 leading-relaxed">
                <h3 class="text-2xl font-bold">{{event.name}}</h3>
                <p> {{event.description}} </p>
                <p class="font-semibold">Date: {{event.date}} </p>
                <p class="font-semibold">Locations: {{event.location}} </p>
                <form action="{% url 'event_details' event.id %}" method='POST'>
                    {% csrf_token %}
                    <button type="submit" class="mt-5 text-white font-semibold bg-green-600 px-5 py-2 rounded-md">Show Details</button>
                </form>
            </div>
        {% endfor %}
    </div>
</section>