<div class="bg-white rounded-lg shadow-lg p-6">
    <h2 class="text-3xl font-bold text-center text-gray-800 bg-pink-100 py-3 border-t-4 border-l-4 border-r-4 border-pink-500 rounded-t-lg">
        {{ section_title }}
    </h2>
    <div class="overflow-x-auto border-l-4 border-r-4 border-pink-500 rounded-b-lg">
        <table class="w-full border-collapse">
            <thead>
                <tr class="bg-gray-100 text-gray-600">
                    <th class="p-3 text-left text-sm font-semibold">#</th>
                    <th class="p-3 text-left text-sm font-semibold">Group Name</th>
                    <th class="p-3 text-left text-sm font-semibold">Permissions</th>
                    <th class="p-3 text-center text-sm font-semibold">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for group in groups %}
                    <tr class="border-b hover:bg-gray-50 transition duration-200">
                        <td class="p-3 text-sm text-gray-700">{{ forloop.counter }}</td>
                        <td class="p-3 text-sm text-gray-700">{{ group.name }}</td>
                        <td class="p-3 text-sm text-gray-700">
                            <div class="max-h-40 overflow-y-auto">
                                {% for permission in group.permissions.all %}
                                    <li><span class="hidden md:inline">{{ permission.name }} |</span> {{ permission.codename }}</li>
                                {% endfor %}
                            </div>
                        </td>
                        <td class="p-3 text-sm text-gray-700">
                            <div class="flex justify-center space-x-4">
                                <a href="{% url 'delete-group' group.id %}" class="text-red-500 hover:text-red-700">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                                <a href="{% url 'update-group' group.id %}" class="text-green-500 hover:text-green-700">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
