<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Manager</title>
</head>
<body>
    <header>
        <div>
            <img src="../../static/images/logo.png" alt="">
            <h1>Event <br> Manager</h1>
        </div>
        <div>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Events</a></li>
                <li><a href="">Dashboard</a></li>
            </ul>
        </div>
    </header>
</body>
</html>