{% extends "header.html" %}
{% block content %}
    <section class="pt-5">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "success" %}
                    <p class="text-2xl font-semibold text-center text-green-500">{{message}}</p>
                {% elif message.tags == "error" %}
                    <p class="text-2xl font-semibold text-center text-red-500">{{message}}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
    </section>
    <section class="flex justify-center py-5">
        {% if events %}
            <div>
                <h2 class="text-2xl text-gray-600 font-bold text-center py-5">Events</h2>
                <table class="px-5 border border-gray-200 rounded-lg shadow-md border-collapse">
                    <thead>
                        <tr class="bg-gray-100 text-gray-600">
                            <th class="p-2 border-b md:px-6 md:py-3 md:border-none text-left text-sm font-semibold">Sl</th>
                            <th class="p-2 border-b md:px-6 md:py-3 md:border-none text-left text-sm font-semibold">ID</th>
                            <th class="p-2 border-b md:px-6 md:py-3 md:border-none text-left text-sm font-semibold">Name</th>
                            <th class="p-2 border-b md:px-6 md:py-3 md:border-none text-left text-sm font-semibold">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in events %}
                            <tr>
                                <td class="p-2 border md:px-6 md:py-3 md:border-none text-sm text-gray-700">{{ forloop.counter }}</td>
                                <td class="p-2 border md:px-6 md:py-3 md:border-none text-sm text-gray-700">{{ event.id }}</td>
                                <td class="p-2 border md:px-6 md:py-3 md:border-none text-sm text-gray-700">{{ event.name }}</td>
                                <td class="p-2 border md:px-6 md:py-3 md:border-none text-sm text-gray-700">{{ event.date }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div>
                    <a href="{% url 'create-event' %}" class="mt-5 block w-full text-center bg-green-600 px-5 py-2 rounded-md text-white font-semibold"><i class="fa-solid fa-plus"></i> Create New Event</a>
                    <form action="{% url 'delete-event' %}" method='POST' class="flex justify-between">
                        {% csrf_token %}
                        <input class="w-2/3 p-2 mt-5 rounded-md border border-gray-400" placeholder="Enter Event ID to Delete" type="number" name="event_id" id="">
                        <button type="submit" name="action" value="delete" class="mt-5 bg-red-500 px-5 py-2 rounded-md text-white font-semibold"><i class="fa-solid fa-trash"></i> <span class="hidden md:inline-block">Delete</span></button>
                    </form>
                    <form action="{% url 'update-event' %}" class="flex justify-between">
                        <input class="w-2/3 p-2 mt-5 rounded-md border border-gray-400" placeholder="Enter Event ID to Update" type="number" name="event_id" id="">
                        <button type="submit" name="action" value="update" class="mt-5 bg-green-600 px-5 py-2 rounded-md text-white font-semibold"><i class="fa-solid fa-pen-nib"></i> <span class="hidden md:inline-block">Update</span></button>
                    </form>
                </div>
            </div>
        {% elif categories %}
            <div>
                <h2 class="text-2xl text-gray-600 font-bold text-center py-5">Categories</h2>
                <table class="px-5 border border-gray-200 rounded-lg shadow-md border-collapse">
                    <thead>
                        <tr class="bg-gray-100 text-gray-600">
                            <th class="p-2 border-b md:px-6 md:py-3 md:border-none text-left text-sm font-semibold">Sl</th>
                            <th class="p-2 border-b md:px-6 md:py-3 md:border-none text-left text-sm font-semibold">ID</th>
                            <th class="p-2 border-b md:px-6 md:py-3 md:border-none text-left text-sm font-semibold">Name</th>
                            <th class="p-2 border-b md:px-6 md:py-3 md:border-none text-left text-sm font-semibold">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                            <tr>
                                <td class="p-2 border md:px-6 md:py-3 md:border-none text-sm text-gray-700">{{ forloop.counter }}</td>
                                <td class="p-2 border md:px-6 md:py-3 md:border-none text-sm text-gray-700">{{ category.id }}</td>
                                <td class="p-2 border md:px-6 md:py-3 md:border-none text-sm text-gray-700">{{ category.name }}</td>
                                <td class="p-2 border md:px-6 md:py-3 md:border-none text-sm text-gray-700">{{ category.description|slice:":10"}}...</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div>
                    <a href="{% url 'create-category' %}" class="mt-5 block text-center bg-green-600 px-5 py-2 rounded-md text-white font-semibold"><i class="fa-solid fa-plus"></i> Create New Category</a>
                    <form action="{% url 'delete-category' %}" method='POST' class="flex justify-between">
                        {% csrf_token %}
                        <input class="w-2/3 p-2 mt-5 rounded-md border border-gray-400" placeholder="Enter Category ID to Delete" type="number" name="category_id" id="">
                        <button type="submit" name="action" value="delete" class="mt-5 bg-red-500 px-5 py-2 rounded-md text-white font-semibold"><i class="fa-solid fa-trash"></i> <span class="hidden md:inline-block">Delete</span></button>
                    </form>
                    <form action="{% url 'update-category' %}" class="flex justify-between">
                        <input class="w-2/3 p-2 mt-5 rounded-md border border-gray-400" placeholder="Enter Category ID to Update" type="number" name="category_id" id="">
                        <button type="submit" name="action" value="update" class="mt-5 bg-green-600 px-5 py-2 rounded-md text-white font-semibold"><i class="fa-solid fa-pen-nib"></i> <span class="hidden md:inline-block">Update</span></button>
                    </form>
                </div>
            </div>
        {% else %}
            <div>
                <h2 class="text-2xl text-gray-600 font-bold text-center py-5">Participants</h2>
                <table class="px-5 border border-gray-200 rounded-lg shadow-md border-collapse">
                    <thead>
                        <tr class="bg-gray-100 text-gray-600">
                            <th class="p-2 border-b md:px-6 md:py-3 md:border-none text-left text-sm font-semibold">Sl</th>
                            <th class="p-2 border-b md:px-6 md:py-3 md:border-none text-left text-sm font-semibold">ID</th>
                            <th class="p-2 border-b md:px-6 md:py-3 md:border-none text-left text-sm font-semibold">Name</th>
                            <th class="p-2 border-b md:px-6 md:py-3 md:border-none text-left text-sm font-semibold">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for participant in participants %}
                            <tr>
                                <td class="p-2 border md:px-6 md:py-3 md:border-none text-sm text-gray-700">{{ forloop.counter }}</td>
                                <td class="p-2 border md:px-6 md:py-3 md:border-none text-sm text-gray-700">{{ participant.id }}</td>
                                <td class="p-2 border md:px-6 md:py-3 md:border-none text-sm text-gray-700">{{ participant.first_name }} {{participant.last_name}}</td>
                                <td class="p-2 border md:px-6 md:py-3 md:border-none text-sm text-gray-700">{{ participant.email }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div>
                    <a href="{% url 'create-participant' %}" class="block text-center mt-5 bg-green-600 px-5 py-2 rounded-md text-white font-semibold"><i class="fa-solid fa-plus"></i> Add New Participant</a>
                    <form action="{% url 'delete-participant' %}" method='POST' class="flex justify-between">
                        {% csrf_token %}
                        <input class="w-2/3 p-2 mt-5 rounded-md border border-gray-400" placeholder="Enter Category ID to Delete" type="number" name="participant_id" id="">
                        <button type="submit" name="action" value="delete" class="mt-5 bg-red-500 px-5 py-2 rounded-md text-white font-semibold"><i class="fa-solid fa-trash"></i> <span class="hidden md:inline-block">Remove</span></button>
                    </form>
                    <form action="{% url 'update-participant' %}" class="flex justify-between">
                        <input class="w-2/3 p-2 mt-5 rounded-md border border-gray-400" placeholder="Enter Category ID to Update" type="number" name="participant_id" id="">
                        <button type="submit" name="action" value="update" class="mt-5 bg-green-600 px-5 py-2 rounded-md text-white font-semibold"><i class="fa-solid fa-pen-nib"></i> <span class="hidden md:inline-block">Update</span></button>
                    </form>
                </div>
            </div>
        {% endif %}
    </section>    
{% endblock content %}