{% extends "header.html" %}
{% load static %}
{% block content %}
    <section>
        <h2 class="text-2xl font-bold underline text-center mb-5">All participants</h2>
        <section class="grid grid-cols-1 lg:grid-cols-4 gap-5 md:grid-cols-2">
            {% for participant in participants %}
                <div class="bg-sky-200 rounded-lg p-5">
                    <img class="rounded-full w-20 mb-5" src="{% static 'images/participant_img.jpg' %}" alt="">
                    <p class="font-semibold">ID: {{participant.id}}</p>
                    <p class="font-semibold">Name: {{participant.first_name}} {{participant.last_name}}</p>
                    <p class="font-semibold">Email: {{participant.email}}</p>
                </div>
            {% endfor %}
        </section>
    </section>
{% endblock content %}