{% extends "header.html" %}
{% block content %}
    <section class="w-full md:w-2/3 lg:w-1/2 mx-auto shadow-md p-5 ">
        <form action="" method="POST" enctype="multipart/form-data">
            {% if event_form %}
                {{event_form.as_p}}

            {% elif category_form %}
                {{category_form.as_p}}
                
            {% elif user_form %}
                {{user_form.as_p}}
                
            {% elif group_form %}
                {{group_form.as_p}}
                
            {% endif %}

            {% csrf_token %}
            <button type="submit" class="mt-5 bg-green-600 px-5 py-2 rounded-md text-white font-semibold"><i class="fa-regular fa-floppy-disk"></i> Save Changes</button>
        </form>
    </section>
{% endblock content %}