{% extends "base.html" %}
{% block content %}
    <section class="w-full md:w-2/3 lg:w-1/2 mx-auto shadow-md p-5 ">
        <form action="" method="POST" enctype="multipart/form-data">
            {% if form %}
                {{form.as_p}}

            {% endif %}

            {% csrf_token %}
            <button type="submit" class="mt-5 bg-green-600 px-5 py-2 rounded-md text-white font-semibold"><i class="fa-regular fa-floppy-disk"></i> Save Changes</button>
        </form>
    </section>
{% endblock content %}