{% extends "base.html" %}
{% block content %}

    {% include "dashboard/common_dashboard.html" %}

    {% comment %} events and categories list {% endcomment %}
    <section class="flex justify-center py-8">
        <div class="w-full max-w-6xl px-4">
            {% if events %}
                {% include "event-list.html" %}
            {% elif categories %}
                {% include "category-list.html" %}
            {% elif users %}
                {% include "user-list.html" %}
            {% elif groups %}
                {% include "group-list.html" %}
            {% endif %}
        </div>
    </section>
{% endblock content %}