{% comment %} Number card {% endcomment %}
<section class="flex flex-wrap justify-center gap-5 py-10">
    <a href="{% url 'dashboard' %}?type=past" class="">
        <div class="w-80 flex gap-2 p-5 bg-blue-300 hover:bg-blue-400 shadow-md justify-center text-2xl font-semibold rounded-md">
            <div><i class="fa-solid fa-check"></i></div>
            <h4>Past Events: {{counts.past}}</h4>
        </div>
    </a>
    <a href="{% url 'dashboard' %}?type=today">
        <div class="w-80 flex gap-2 p-5 bg-blue-300 hover:bg-blue-400 shadow-md text-2xl justify-center font-semibold rounded-md">
            <div><i class="fa-solid fa-calendar-week"></i></div>
            <h4>Today's Events: {{counts.today}}</h4>
        </div>
    </a>
    <a href="{% url 'dashboard' %}?type=upcoming">
        <div class="w-80 flex gap-2 p-5 bg-blue-300 hover:bg-blue-400 shadow-md text-2xl justify-center font-semibold rounded-md">
            <div><i class="fa-regular fa-calendar-days"></i></div>
            <h4>Upcoming Events: {{counts.upcoming}}</h4>
        </div>
    </a>
    <a href="{% url 'dashboard' %}?type=total_events">
        <div class="w-80 flex gap-2 p-5 bg-blue-300 hover:bg-blue-400 shadow-md justify-center text-2xl font-semibold rounded-md">
            <div><i class="fa-solid fa-border-all"></i></div>
            <h4>Total Events: {{counts.total}}</h4>
        </div>
    </a>
    {% if role == 'Participant' %}
        <a href="{% url 'dashboard' %}?type=booked_events">
            <div class="w-80 flex gap-2 p-5 bg-blue-300 hover:bg-blue-400 shadow-md justify-center text-2xl font-semibold rounded-md">
                <div><i class="fa-solid fa-border-all"></i></div>
                <h4>Booked Events: {{rsvp_count}}</h4>
            </div>
        </a>
    {% endif %}
    {% if role != 'Participant' %}
        <a href="{% url 'dashboard' %}?type=categories">
            <div class="w-80 flex gap-2 p-5 bg-blue-300 hover:bg-blue-400 shadow-md text-2xl justify-center font-semibold rounded-md">
                <div><i class="fa-regular fa-calendar-days"></i></div>
                <h4>Categories: {{category_count}}</h4>
            </div>
        </a>
        {% if role == 'Admin' %}
            <a href="{% url 'dashboard' %}?type=users">
                <div class="w-80 flex gap-2 p-5 bg-blue-300 hover:bg-blue-400 shadow-md text-2xl justify-center font-semibold rounded-md">
                    <div><i class="fa-regular fa-calendar-days"></i></div>
                    <h4>Users: {{total_participants}}</h4>
                </div>
            </a>
            <a href="{% url 'dashboard' %}?type=groups">
                <div class="w-80 flex gap-2 p-5 bg-blue-300 hover:bg-blue-400 shadow-md text-2xl justify-center font-semibold rounded-md">
                    <div><i class="fa-regular fa-calendar-days"></i></div>
                    <h4>Groups: {{total_groups}}</h4>
                </div>
            </a>
        {% endif %} 
    {% endif %}
</section>
{% comment %} messages {% endcomment %}
<section class="pt-5">
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "success" %}
                <p class="text-2xl font-semibold text-center text-green-500">{{message}}</p>
            {% elif message.tags == "error" %}
                <p class="text-2xl font-semibold text-center text-red-500">{{message}}</p>
            {% endif %}
        {% endfor %}
    {% endif %}
</section>
