<section class="flex flex-wrap justify-center gap-6 py-10 px-4">
    {% if role == 'Participant' %}
        {% comment %} Past Events Card {% endcomment %}
        <a href="{% url 'dashboard' %}?type=past" >
            <div class="w-64  flex items-center p-4 bg-gray-100 hover:bg-gray-200 shadow-md hover:shadow-lg rounded-xl transition-transform transform group-hover:scale-105">
                <div class="text-4xl text-gray-700 mr-4 group-hover:text-gray-900">
                    <i class="fas fa-check-circle"></i>
                </div>
                <div>
                    <h4 class="text-lg font-bold text-gray-800 group-hover:text-gray-900">Past Events</h4>
                    <p class="text-2xl font-extrabold text-gray-700 group-hover:text-gray-900">{{ counts.past }}</p>
                </div>
            </div>
        </a>

        {% comment %} Today's Events Card {% endcomment %}
        <a href="{% url 'dashboard' %}?type=today" >
            <div class="w-64  flex items-center p-4 bg-blue-100 hover:bg-blue-200 shadow-md hover:shadow-lg rounded-xl transition-transform transform group-hover:scale-105">
                <div class="text-4xl text-blue-600 mr-4 group-hover:text-blue-800">
                    <i class="fas fa-calendar-day"></i>
                </div>
                <div>
                    <h4 class="text-lg font-bold text-blue-700 group-hover:text-blue-800">Today's Events</h4>
                    <p class="text-2xl font-extrabold text-blue-600 group-hover:text-blue-800">{{ counts.today }}</p>
                </div>
            </div>
        </a>

        {% comment %} Upcoming Events Card {% endcomment %}
        <a href="{% url 'dashboard' %}?type=upcoming" >
            <div class="w-64  flex items-center p-4 bg-teal-100 hover:bg-teal-200 shadow-md hover:shadow-lg rounded-xl transition-transform transform group-hover:scale-105">
                <div class="text-4xl text-teal-600 mr-4 group-hover:text-teal-800">
                    <i class="fas fa-calendar-alt"></i>
                </div>
                <div>
                    <h4 class="text-lg font-bold text-teal-700 group-hover:text-teal-800">Upcoming Events</h4>
                    <p class="text-2xl font-extrabold text-teal-600 group-hover:text-teal-800">{{ counts.upcoming }}</p>
                </div>
            </div>
        </a>

        {% comment %} Total Events Card {% endcomment %}
        <a href="{% url 'dashboard' %}?type=total_events" >
            <div class="w-64  flex items-center p-4 bg-purple-100 hover:bg-purple-200 shadow-md hover:shadow-lg rounded-xl transition-transform transform group-hover:scale-105">
                <div class="text-4xl text-purple-600 mr-4 group-hover:text-purple-800">
                    <i class="fas fa-calendar-check"></i>
                </div>
                <div>
                    <h4 class="text-lg font-bold text-purple-700 group-hover:text-purple-800">Total Events</h4>
                    <p class="text-2xl font-extrabold text-purple-600 group-hover:text-purple-800">{{ counts.total }}</p>
                </div>
            </div>
        </a>
        {% comment %} Booked Events Card {% endcomment %}
        <a href="{% url 'dashboard' %}?type=booked_events" >
            <div class="w-64  flex items-center p-4 bg-indigo-100 hover:bg-indigo-200 shadow-md hover:shadow-lg rounded-xl transition-transform transform group-hover:scale-105">
                <div class="text-4xl text-indigo-600 mr-4 group-hover:text-indigo-800">
                    <i class="fas fa-ticket-alt"></i>
                </div>
                <div>
                    <h4 class="text-lg font-bold text-indigo-700 group-hover:text-indigo-800">Booked Events</h4>
                    <p class="text-2xl font-extrabold text-indigo-600 group-hover:text-indigo-800">{{ rsvp_count }}</p>
                </div>
            </div>
        </a>

    {% elif role == 'Organizer' %}
        {% comment %} Total Events Card {% endcomment %}
        <a href="{% url 'dashboard' %}?type=total_events" >
            <div class="w-64  flex items-center p-4 bg-purple-100 hover:bg-purple-200 shadow-md hover:shadow-lg rounded-xl transition-transform transform group-hover:scale-105">
                <div class="text-4xl text-purple-600 mr-4 group-hover:text-purple-800">
                    <i class="fas fa-calendar-check"></i>
                </div>
                <div>
                    <h4 class="text-lg font-bold text-purple-700 group-hover:text-purple-800">Total Events</h4>
                    <p class="text-2xl font-extrabold text-purple-600 group-hover:text-purple-800">{{ counts.total }}</p>
                </div>
            </div>
        </a>
        {% comment %} Category card {% endcomment %}
        <a href="{% url 'dashboard' %}?type=categories" >
            <div class="w-64  flex items-center p-4 bg-orange-100 hover:bg-orange-200 shadow-md hover:shadow-lg rounded-xl transition-transform transform group-hover:scale-105">
                <div class="text-4xl text-orange-600 mr-4 group-hover:text-orange-800">
                    <i class="fa-solid fa-list"></i>
                </div>
                <div>
                    <h4 class="text-lg font-bold text-orange-700 group-hover:text-orange-800">Categories</h4>
                    <p class="text-2xl font-extrabold text-orange-600 group-hover:text-orange-800">{{ category_count }}</p>
                </div>
            </div>
        </a>
    {% elif role == 'Admin' %}
        {% comment %} user card {% endcomment %}
        <a href="{% url 'dashboard' %}?type=users" >
            <div class="w-64  flex items-center p-4 bg-blue-100 hover:bg-blue-200 shadow-md hover:shadow-lg rounded-xl transition-transform transform group-hover:scale-105">
                <div class="text-4xl text-blue-600 mr-4 group-hover:text-blue-800">
                    <i class="fa-solid fa-users"></i>
                </div>
                <div>
                    <h4 class="text-lg font-bold text-blue-700 group-hover:text-blue-800">All Users</h4>
                    <p class="text-2xl font-extrabold text-blue-600 group-hover:text-blue-800">{{ total_participants }}</p>
                </div>
            </div>
        </a>

        {% comment %} Total Event Card {% endcomment %}
        <a href="{% url 'dashboard' %}?type=total_events" >
            <div class="w-64  flex items-center p-4 bg-purple-100 hover:bg-purple-200 shadow-md hover:shadow-lg rounded-xl transition-transform transform group-hover:scale-105">
                <div class="text-4xl text-purple-600 mr-4 group-hover:text-purple-800">
                    <i class="fas fa-calendar-check"></i>
                </div>
                <div>
                    <h4 class="text-lg font-bold text-purple-700 group-hover:text-purple-800">Total Events</h4>
                    <p class="text-2xl font-extrabold text-purple-600 group-hover:text-purple-800">{{ counts.total }}</p>
                </div>
            </div>
        </a>
        {% comment %} Category card {% endcomment %}
        <a href="{% url 'dashboard' %}?type=categories" >
            <div class="w-64  flex items-center p-4 bg-orange-100 hover:bg-orange-200 shadow-md hover:shadow-lg rounded-xl transition-transform transform group-hover:scale-105">
                <div class="text-4xl text-orange-600 mr-4 group-hover:text-orange-800">
                    <i class="fa-solid fa-list"></i>
                </div>
                <div>
                    <h4 class="text-lg font-bold text-orange-700 group-hover:text-orange-800">Categories</h4>
                    <p class="text-2xl font-extrabold text-orange-600 group-hover:text-orange-800">{{ category_count }}</p>
                </div>
            </div>
        </a>
        {% comment %} groups card {% endcomment %}
        <a href="{% url 'dashboard' %}?type=groups" >
            <div class="w-64  flex items-center p-4 bg-pink-100 hover:bg-pink-200 shadow-md hover:shadow-lg rounded-xl transition-transform transform group-hover:scale-105">
                <div class="text-4xl text-pink-600 mr-4 group-hover:text-pink-800">
                    <i class="fas fa-users-cog mr-2"></i>
                </div>
                <div>
                    <h4 class="text-lg font-bold text-pink-700 group-hover:text-pink-800">Groups</h4>
                    <p class="text-2xl font-extrabold text-pink-600 group-hover:text-pink-800">{{ total_groups }}</p>
                </div>
            </div>
        </a>

        

    {% endif %}
</section>
