{% extends "header.html" %}
{% block content %}
    <section class="grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-5 py-10">
        <a href="{% url 'dashboard' %}?type=past">
            <div class="flex gap-2 p-5 bg-blue-100 shadow-md text-2xl font-semibold rounded-md">
                <div><i class="fa-solid fa-check"></i></div>
                <h4>Past Events: {{counts.past}}</h4>
            </div>
        </a>
        <a href="{% url 'dashboard' %}?type=today">
            <div class="flex gap-2 p-5 bg-blue-100 shadow-md text-2xl font-semibold rounded-md">
                <div><i class="fa-solid fa-calendar-week"></i></div>
                <h4>Today's Events: {{counts.today}}</h4>
            </div>
        </a>
        <a href="{% url 'dashboard' %}?type=total_events">
            <div class="flex gap-2 p-5 bg-blue-100 shadow-md text-2xl font-semibold rounded-md">
                <div><i class="fa-solid fa-border-all"></i></div>
                <h4>Total Events: {{counts.total}}</h4>
            </div>
        </a>
        <a href="{% url 'dashboard' %}?type=upcoming">
            <div class="flex gap-2 p-5 bg-blue-100 shadow-md text-2xl font-semibold rounded-md">
                <div><i class="fa-regular fa-calendar-days"></i></div>
                <h4>Upcoming Events: {{counts.upcoming}}</h4>
            </div>
        </a>
    </section>
    {% include "event_card.html" %}
{% endblock content %}